
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Spline+Sans:wght@300&display=swap');
 


  /*end of header*/

  /*start of content*/

.container{
 width:100%;
}

.content rain{
width: 100%;
height: 400px;
object-fit: cover;
object-position:top;
}

.overlay{
 position:absolute;
 top: 25%;
 color: white;
 padding: 20px;
}
.overlay h1{
 font-size: 128px;
 font-weight: bold;
 font-family: 'Quicksand', sans-serif;
 margin-left: 70px;
 margin-top: 300px;
}
 .overlay p{
  font-size: 80px;
  margin-left:57px;
  font-family: 'Spline Sans', sans-serif;
  line-height: 133px;
}

.button{
  background-color:#faf11d;
  border: none;
  height: 108px;
  width: 698px;
  font-size: 64px;
  cursor: pointer; 
  margin-top: 300px;
  margin-left: 50px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 900;
  }

  /*end of content*/
  
h2{
  font-size: 96px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 200px;
  }
 
*{
 box-sizing: border-box;
  }

.column{
width: 48%;
 padding-left:380px;
 padding-right:260px;
 padding-top: 100px;
 position: relative;
 display: inline-block;
}

.row::after{
content: "";
display: table;
clear: both;
}

.column button{
margin-bottom: 0px;
margin-left: -880px;
position: absolute;
justify-content: center;
align-items: center;
margin-top: 1500px;
}

.overlay{
position:absolute;
top: 15%;
color: white;
padding: 20px;
}

h4{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
margin-right: 60px;
margin-left: 60px;
line-height: 182%;
text-align:justify;
}

.paragraph-container{
  background-color:  #ece9e9;
  margin-left: 370px;
  margin-right: 400px;
}
.box {
  width: 80%;
  height: 250px;
  background-color: rgb(250, 241, 29);
  display: flex;
  padding-right: 50px;
  font-size: 64px;
  font-family: Quicksand, sans-serif;
  margin-left: 370px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  width: 700px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 64px;
  cursor: pointer;
  margin-left: 300px;
}

/* start of footer */

.footer-wrapper{
  width: 100%;
  height: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: #000;
    
}
.logo1{
  width: 400px;
  height: 250px;
  float: left;
  padding-top: 40px;
  padding-left: 70px;
}
.footer-container{
  width: 25%;
  float: left;
  text-align:left;
  padding: 10px;
  background-color:#000;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 48px;
  list-style: none;
  text-decoration: none;
  margin-left: 200px;
}
.social-media {
  width: 25%;
  float:right;
  text-align: left;
  padding: 26px;
  background-color:#000;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;

}
.social-media a{
  color: #fff;
  margin-left: 50px;
  font-size: 70px;
}
.footer-container li a{
  color: #fff;
  text-decoration: none;
  margin-left: 320px;
 }

 .footer-container h3{
  padding-left: 320px;
 }

 /* end of home page*/

 /* start of jacket page */

 .headline p{
  text-align: left;
  font-size: 48px;
  font-family: 'Spline Sans', sans-serif;
  margin-left: 100px;
 }

 .headline h1{
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 96px;
 }

 .headline h4{
  text-align: center;
  font-family: 'Spline Sans', sans-serif;
  font-size: 64px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 900px);
  grid-template-rows: auto;
  gap:80px;
  row-gap:50px;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
  max-height: 100%;

}

.grid-item{
  background-color: #ece9e9;
  width: auto;
  max-height: 100%;

}

.grid-item h2{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
text-align: center;
}
.grid-item p{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
text-align: center;

}


/* NEW HEADER*/

* {
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #000;
  color: #fff;
  
}

.navbar-tabs ul{
  margin:0;
  padding:0;
  display: flex;
}

.navbar-tabs li{
  list-style: none;
}
.navbar-tabs li a:hover{
  color:#eeefac;
}
.navbar-tabs li a{
  text-decoration: none;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 55px;
  margin-left: 8rem;
}

.logo{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo img{
  max-width: 40%;
  max-height: 40%;
}
.navbar-icon img{ 
  width: 5rem;
}
.navbar-icon{
  margin-left:35rem;
}

  






 
  

  

  

   
    
    
  



  





