
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Spline+Sans:wght@300&display=swap');
 
* {
  box-sizing: border-box;
}
body{
  width: fit-content;
}
.navbar{
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 20rem;
}

.navbar-left{
  display: flex;
  flex: 0 0 40%;
}

.navbar-left ul{
  display: flex;  
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  width: 100%;
  justify-content: space-around; 
}

.navbar-left li{
  list-style: none;
  
}
.navbar-left li a:hover{
  color:#c8f2ff;
}
.navbar-left li a{
  text-decoration: none;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 4rem;
}

.logo{
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 0 0 20%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.logo img{
  height: 15rem;
  width: auto;
}

.navbar-right{
  display: flex;
  flex: 0 0 40%;
  justify-content: right;
  margin-right: 1rem;
}
.navbar-icon img{ 
  width: 6,4rem;
}
.navbar-icon{
  flex: 0 0 25%;
}

.toggle-button{
  position: absolute;
  top:8rem;
  right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  height: 5rem;
}
.toggle-button .bar{
  height: 0.3rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  cursor:pointer;
}
@media (max-width:600px){
  .toggle-button{
    display: flex;
  }
 .navbar-left{
  display: none;
 }

 .navbar-left{
  flex-direction: column;
  align-self: flex-start;
 }
 .navbar-left ul{
  width: 100%;
  flex-direction: column;
 }
}

  /*end of header*/

  /*start of content*/

.container{
 width:100%;
}

.content rain{
width: 100%;
height:100px;
}

.bannerHeader{
  object-fit: cover;
  object-position: 50% 52%;
  height: 110rem;
  width: 100%;
}

.overlay{
 position:absolute;
 text-wrap: nowrap;
 top: 25%;
 color: white;
 padding: 4rem;
}
.overlay h1{
 font-size: 12rem;
 font-weight: bold;
 font-family: 'Quicksand', sans-serif;
 margin-left: 7rem;
 margin-top: 14rem;
}
 .overlay p{
  font-size: 80px;
  margin-left:7rem;
  font-family: 'Spline Sans', sans-serif;
  line-height: 8rem;
}

.button{
  background-color:#faf11d;
  border: none;
  height: 8rem;
  width: 48rem;
  font-size: 64px;
  cursor: pointer; 
  margin-top: 20rem;
  margin-left: 5rem;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 900;
  }
  .button:hover{
    color:#c8f2ff;;
  }

  /*end of content*/
  
h2{
  font-size: 96px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 20rem;
  }
 
*{
 box-sizing: border-box;
  }

.column{
width: 48%;
 padding-left:38rem;
 padding-right:26rem;
 padding-top: 10rem;
 position: relative;
 display: inline-block;
}

.row::after{
content: "";
display: table;
clear: both;
}

.column button{
margin-bottom: 0rem;
margin-left: -80rem;
position: absolute;
justify-content: center;
align-items: center;
margin-top: 150rem;
}
.column button:hover{
  color:#eeefac;
}

.overlay{
position:absolute;
top: 15%;
color: white;
padding: 2rem;
}

h4{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
margin-right: 6rem;
margin-left: 6rem;
line-height: 182%;
text-align:justify;
}

.paragraph-container{
  background-color:  #ece9e9;
  margin-left: 37rem;
  margin-right: 39rem;
}
.box {
  width: 80%;
  height: 20rem;
  background-color:#faf11d;
  display: flex;
  padding-right: 5rem;
  font-size: 64px;
  font-family: Quicksand, sans-serif;
  margin-left: 34rem;
  margin-right: 40rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  width: 70rem;
  height: 10rem;
  background-color:#000;
  color: #fff;
  font-size: 64px;
  cursor: pointer;
  margin-left: 30rem;
}

/* start of footer */

.footer-wrapper{
  width: 100%;
  height: 30rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #000;
    
}
.logo1{
  width: 30rem;
  height: 15rem;
  float: left;
  padding-top: 4rem;
  padding-left: 7rem;
}
.footer-container{
  width: 25%;
  float: left;
  text-align:left;
  background-color:#000;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 48px;
  list-style: none;
  text-decoration: none;
  margin-left: 25rem;
}
.social-media {
  width: 25%;
  float:right;
  text-align: left;
  padding: 2rem;
  background-color:#000;
  color: #fff;
  font-family: 'Spline Sans', sans-serif;
  font-size: 48px;
  margin-bottom: 2rem;

}
.social-media a{
  color: #fff;
  margin-left: 2rem;
  font-size: 6rem;
}
.footer-container li a{
  color: #fff;
  text-decoration: none;
  margin-left: 20rem;
 }

 .footer-container h3{
  padding-left: 20rem;
 }

 /* end of home page*/

 /* start of jacket page */

 .headline p{
  text-align: left;
  font-size: 48px;
  font-family: 'Spline Sans', sans-serif;
  margin-left: 100px;
 }

 .headline h1{
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 96px;
 }

 .headline h4{
  text-align: center;
  font-family: 'Spline Sans', sans-serif;
  font-size: 64px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 900px);
  grid-template-rows: auto;
  gap:80px;
  row-gap:50px;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
  max-height: 100%;

}

.grid-item{
  background-color: #ece9e9;
  width: auto;
  max-height: 100%;

}

.grid-item h2{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
text-align: center;
}
.grid-item p{
font-family: 'Spline Sans', sans-serif;
font-size: 64px;
text-align: center;

}








  
/*end of jacket page*/

 /* start of product-page */

  

   
    
    
  



  





